/* BASIC RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.versus_image {
  aspect-ratio: 1/1;
  width: 350px;
}

body {
  background-color: #fff9d6;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
}

.container--column {
  flex-direction: column;
}

.container--row {
  flex-direction: row;
}

.title {
  color: #131004;
  text-align: center;
}

.player {
  margin: 5rem 1rem;
  justify-content: center;
  align-items: center;
}

.players__choice {
  aspect-ratio: 1/1;
  max-width: 350px;
}

button {
  all: unset;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  width: 10.5rem;
  height: 2.5rem;
  background-color: #ffed8a;
  border: 2px solid black;
  border-radius: 1rem;
  transition: all .3s ease 0s;
}

button:hover {
  opacity: .8;
}